body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'poppins', sans-serif;
}

#container{
    width: 400px;
    height: 250px;
    background-color: #e1e100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 30px 30px #000000;
}

#container:hover{
    transform: scalex(1.5);
    transition: 0.1s;
}

#text{
    font-size: 50px;
    margin-bottom: 50px;
}

button:hover{
    color: #e1e100;
}

button{
    padding: 15px 50px;
    background: #000000;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

